<%- include('includes/head.ejs') %>
</head>
<body>
    <%-include('includes/navigation')%>
    <h1>some error ocurred </h1>
    <h1>we are working on fixing this sorry for the inconvinience </h1>
    <p><%= error%></p>
    
<%-include('includes/end.ejs') %>