extends layouts/main-layout.pug 

block styles
    link(rel="stylesheet", href="/css/product.css")

block content 
    main
        if prods.length>0
            .grid
                each product in prods
                    article.card.product_item
                        header.card_header
                            h1.prodcut_title #{product.title}
                        div.card_item
                            img(src="https://miro.medium.com/max/1200/1*mk1-6aYaf_Bes1E3Imhc0A.jpeg", alt="a book")
                        div.card_content 
                            h2.product_price $19.99
                        p.product_description a very interesting book about so many even more interesting things!
                    div.card_actions
                        button.btn Add to cart
        else    
            h1 No products
